html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

html {
  --base: hsl(348, 22%, 82%);
  --light: hsl(348, 22%, 96%);
  --dark: hsl(348, 22%, 40%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-weight: normal;
}

body {
  background: var(--base);
}

@font-face {
  font-family: "Megalith";
  src: url("/fonts/Megalith-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
